* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(./img/19b8ea5f98725a22a3175f237f94b8c4.png);
    background-size: cover;
    background-position: top;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        backdrop-filter: blur(50px);
        z-index: 0;
    }
}

.contenedor {
    position: relative;
    z-index: 1;
    width: 90%;
    max-width: 700px;
    margin: auto;
    padding: 40px 0;

    .bio {
        text-align: center;
        margin-bottom: 40px;

        .Foto {
            width: 150px;
            height: auto;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 100px;
            margin-bottom: 20px;
        }

        .Nombre {
            margin-bottom: 5px;
            font-size: 32px;
        }

        .Descripcion {
            font-size: 18px;
        }
    }
}

.links {
    .link {
        color: black;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    font-weight: 700;
    transition: 0.2s ease all;
    box-shadow: 1px 1px 0px 0px black,  2px 2px 0px 0px black,  3px 3px 0px black,  4px 4px 0px 0px black,  5px 5px 0px 0px black;
    transform: translate(-5px, -5px);   

    &:hover {
        color: #fff;
        box-shadow: 0px 0px 0px 0px;
    }

    &.sitio-web:hover{
        background-color: rgb(160, 238, 238);
        color: black;
    }
    &.youtube:hover{
        background-color: rgb(160, 238, 238);
    }
    &.x:hover{
        background-color: rgb(160, 238, 238);
    }
    &.facebook:hover{
        background-color: rgb(160, 238, 238);
    }
    &.instagram:hover{
        background-color: rgb(160, 238, 238);
    }
    } 
}