* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(./img/19b8ea5f98725a22a3175f237f94b8c4.png);
    background-size: cover;
    background-position: top;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        backdrop-filter: blur(50px);
        z-index: 0;
    }
}

.contenedor {
    position: relative;
    z-index: 1;
    width: 90%;
    max-width: 700px;
    margin: auto;
    padding: 40px 0;

    .bio {
        text-align: center;
        margin-bottom: 40px;

        .Foto {
            width: 150px;
            height: auto;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 100px;
            margin-bottom: 20px;
        }

        .Nombre {
            margin-bottom: 5px;
            font-size: 32px;
        }

        .Descripcion {
            font-size: 18px;
        }
    }
}